@charset "ISO-8859-1";
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=date] {
  -moz-appearance: textfield;
  padding: 1px 1px 1px 1px;
}

::-webkit-input-placeholder {
	padding:0px;
}

input{
	text-indent : 5px;
}

#errorField{
	font-weight: 600;
    color:#FF0000;
}

body{
	background: #00BBF2;
	background: -webkit-linear-gradient(to right, #00BBF2, #242F92);
	background: linear-gradient(to right, #00BBF2, #242F92);
}

.regform{
	margin: 10px auto 0px auto;
	width: 40%;
	border: 1px solid #00BBF2;
	border-radius: 5px;
	padding:14px 18px;
}

.form input:not([class="btn"]):not([class="checkbox"]){
    width: 100%;
	height: 25px;
	border: 1px solid grey;
	border-radius: 3px;
}

#description {
    width: 100%;
	border: 1px solid grey;
	border-radius: 3px;
}

.form fieldset{
    padding: 0px;
	border : 0;
	background: #00BBF2;
	background: -webkit-linear-gradient(to right, #00BBF2, #242F92);
	background: linear-gradient(to right, #00BBF2, #242F92);
}

.form .lfield {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.form select{
    width: 100%;
	height: 29px;
	border: 1px solid grey;
	border-radius: 3px;
}
.form fieldset{
    padding: 0px;
	border : 0;
	//background: #000000;
	//background: -webkit-linear-gradient(to right, #156349, #000000);
	//background: linear-gradient(to right, #156349, #000000);
}

.desc{
	padding: 0px 0px 2px 0px;
	font-family:"Arial";
	font-size:15px;
	font-weight:600;
	color: #00008C;
}

.titleDesc{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
	font-weight:600;
	font-size:30px;
}

.btn{
	font-weight:600;
	font-size:20px;
	color:white;
    opacity:1;
	
    width: 100%;
	height: 35px;
	border:1px #00BBF2;
	border-radius:2px;
	
	background: #00BBF2;
	background: -webkit-linear-gradient(to right, #00BBF2, #242F92);
	background: linear-gradient(to right, #00BBF2, #242F92);
	box-shadow:0 3px 3px 0 rgba(0,0,0,.5);
	//#00BBF2
	//#242F92
}