@charset "ISO-8859-1";
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=date] {
  -moz-appearance: textfield;
  padding: 1px 1px 1px 1px;
}

input[type=file]{
	display: none;
    opacity: 0;
}

::-webkit-input-placeholder {
	padding:0px;
}

input{
	padding: 0.2em;
	text-indent : 5px;
	box-sizing : border-box;
}

#errorField{
	font-weight: 600;
    color:#FF0000;
}

.noerror{
    color:#007f00 !important;
}

body{
	background-image: url(bg.png);
  	background-repeat: no-repeat;
  	background-size: 100% 120%;
}

.regform{
	margin: 100px auto 0px auto;
	width: 40%;
	padding:14px 18px;
}

.form input:not([class="btn"]):not([class="checkbox"]):not([class="imageBtn"]){
	width: 100%;
	height: 25px;
	border: 1px solid grey;
	border-radius: 3px;
}

#description {
	width: 98.5%;
	border: 1px solid grey;
	border-radius: 3px;
}

.form fieldset{
	border : 0;
	background: #d2d2d2;
}

.form .lfield {
    width: auto;
    height: auto;
	margin: 0 auto;
    padding: 10px 15px 10px 15px;
}

.form select{
    width: 100%;
	height: 29px;
	border: 1px solid grey;
	border-radius: 3px;
}
.form fieldset{
    padding: 0px;
	border : 0;
	box-shadow:1px 3px 3px 1px rgba(0,0,0,.5);
}

.desc{
	padding: 0px 0px 2px 0px;
	font-family: 'Dosis', sans-serif;
	font-size:15px;
	font-weight:600;
	color: #00008C;
}

.titleDesc{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
	font-family: 'Dosis', sans-serif;
	font-weight:600;
	color: #00008C;
	font-size:30px;
}

.imageBtn{
	font-weight:600;
	font-size:15px;
	color: #00008C;
    opacity:1;
	
    width: 100%;
	height: 25px;
	border:1px #00008C;
	border-radius:2px;
	
	background: #00BBF2;
	box-shadow:1px 3px 3px 1px rgba(0,0,0,.5);
}


.lfielde{
    width: auto;
    height: auto;
	margin: 0 auto;
    padding: 10px 15px 15px 15px;
}
.btn{
	font-weight:600;
	font-size:20px;
	color:#C8F0FC;
    opacity:1;
	
    width: 100%;
	height: 35px;
	border:1px #00BBF2;
	border-radius:2px;
	
	background: #00008C;
}